<!-- <div style="text-align: center"> 
    <img src='./../../../../Client/src/assets/logo_nodemailer.jpg' style="width:350px"/>
    <h2 style="text-align: center; font-size: 40px">We are happy to have you with us!</h2> 
    <img src='https://hpy.stripocdn.email/content/guids/CABINET_54100624d621728c49155116bef5e07d/images/84141618400759579.png' style="width:200px"/>
    <br/>
    <br/>
    <br/>
    <p style="font-size:25px" >You can see the details of your purchase by clicking</p>
    <button style="width:200px; height:50px; background-color:#5c68e2; border:none; border-radius:7px; text-align: center; font-size: 30px; cursor:pointer">Here</button>
</div>  -->


<div style="text-align: center">
    <img src='./../../../../Client/src/assets/logo_nodemailer.jpg' style="width:350px"/>
    <h2 style="text-align: center; font-size: 40px">${statusPayment}</h2> 
    <img src=${img} style="width: 250px"/>
    <br/>
    <br/>
    <br/>
    <p style="font-size:22px">You can see the details of your purchase by clicking</p>
    <button style="width:200px; height:50px; background-color:#5c68e2; border:none; border-radius:7px; text-align: center; font-size: 22px; cursor:pointer">
        <a href='http://localhost:5173/login-signup' style="text-decoration: none; color: black">HERE</a>
    </button>
</div> 